<div class="playlists flex-container"
     fxLayout="column">
  <md-card class="flex-item"
           fxFlex="100%">
    <div *ngFor="let playlist of playlists.playlists;"
         class="flex-container playlist"
         fxLayout="row"
         fxLayoutAlign="space-between stretch"
         fxLayoutWrap="nowrap">
      <div
        class="name flex-item"
        fxFlex="100%"
        (click)="onPlaylistSelected(playlist)"
        md-tooltip="{{playlist.name}}">
        {{playlist.name}}
      </div>
      <button md-button class="flex-item" (click)="onEditName(playlist)">
        <md-icon>edit</md-icon>
      </button>
      <button md-button class="flex-item" (click)="onDelete(playlist)">
        <md-icon>delete</md-icon>
      </button>
    </div>
  </md-card>

  <md-card class="flex-item">
    <md-card-content class="flex-container"
                     fxLayout="row"
                     fxLayoutAlign="space-between stretch">
      <span class="flex-item" fxFlexAlign="center">
        Total length: {{playlists.length | minutes}}
      </span>
      <button md-button
              class="flex-item" (click)="onNewPlaylist()">
        <md-icon>playlist_add</md-icon>
      </button>
    </md-card-content>
  </md-card>
</div>


