<h1 mat-dialog-title>
  Add Track
</h1>

<mat-dialog-content>
  <mat-card *ngIf="track">
    <span class="mat-body">
      {{track.performer}} - {{track.title}}
    </span> <br>
    <mat-checkbox [checked]="track.offlineAvailable" [(ngModel)]="track.offlineAvailable">
      Make this track offline available
    </mat-checkbox>
  </mat-card>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="performer">
      <mat-header-cell *matHeaderCellDef> Performer</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.performer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="album">
      <mat-header-cell *matHeaderCellDef> Album</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.album}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.description}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelectTrack(row)"></mat-row>
  </mat-table>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" [disabled]="!track" (click)="onOk()"> Ok</button>
  <button mat-button color="primary" mat-dialog-close> Cancel</button>
</mat-dialog-actions>
