<h1 md-dialog-title>
  Add Track
</h1>

<md-dialog-content>
  <md-card *ngIf="track">
    <span class="mat-body">
      {{track.performer}} - {{track.title}}
    </span> <br>
    <md-checkbox [checked]="track.offlineAvailable" [(ngModel)]="track.offlineAvailable">
      Make this track offline available
    </md-checkbox>
  </md-card>

  <md-table #table [dataSource]="dataSource">
    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef> Title</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.title}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="performer">
      <md-header-cell *mdHeaderCellDef> Performer</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.performer}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="album">
      <md-header-cell *mdHeaderCellDef> Album</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.album}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="description">
      <md-header-cell *mdHeaderCellDef> Description</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.description}}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;" (click)="onSelectTrack(row)"></md-row>
  </md-table>
</md-dialog-content>

<md-dialog-actions align="end">
  <button md-button color="primary" [disabled]="!track" (click)="onOk()"> Ok</button>
  <button md-button color="primary" md-dialog-close> Cancel</button>
</md-dialog-actions>
