<div class="details"
     *ngIf="playlist">

  <div class="flex-container header"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <h1 class="flex-item playlistHeader mat-display-1" fxFlexAlign="center">
      {{playlist.name}}
    </h1>
    <button mat-button
            *ngIf="playlist.owner"
            (click)="onAddTrack()"
            class="flex-item"
            matTooltip="Add tracks to this playlist">
      <mat-icon>playlist_add</mat-icon>
    </button>
  </div>

  <mat-table #table
            *ngIf="tracks.tracks.length > 0"
            [dataSource]="dataSource">
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="performer">
      <mat-header-cell *matHeaderCellDef> Performer</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.performer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef fxFlex="70px"> Duration</mat-header-cell>
      <mat-cell *matCellDef="let track" fxFlex="70px"> {{track.duration | minutes}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="album">
      <mat-header-cell *matHeaderCellDef> Album</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.album}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="playcount">
      <mat-header-cell *matHeaderCellDef fxFlex="70px"> Play count</mat-header-cell>
      <mat-cell *matCellDef="let track" fxFlex="70px"> {{track.playcount}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="publicationDate">
      <mat-header-cell *matHeaderCellDef> Publication date</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.publicationDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
      <mat-cell *matCellDef="let track"> {{track.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="offlineAvailable">
      <mat-header-cell *matHeaderCellDef fxFlex="50px"> Offline</mat-header-cell>
      <mat-cell *matCellDef="let track" fxFlex="50px">
        <mat-icon *ngIf="track.offlineAvailable">done</mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef fxFlex="40px"></mat-header-cell>
      <mat-cell *matCellDef="let track" fxFlex="40px">
        <button mat-icon-button
          [disabled]="!playlist.owner"
          class="deleteButton"
          (click)="onRemoveTrack(track)"
          matTooltip="Remove track from list">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class='mat-body' *ngIf="tracks.tracks.length == 0">
    This playlist is still empty. <span *ngIf="playlist.owner">Use the button on the top-right to add tracks.</span>
  </div>
</div>
