<div class="details"
     *ngIf="playlist">

  <div class="flex-container header"
       fxLayout="row"
       fxLayoutAlign="space-between stretch"
       fxLayoutWrap="nowrap">
    <h1 class="flex-item playlistHeader mat-display-1" fxFlexAlign="center">
      {{playlist.name}}
    </h1>
    <button md-button
            *ngIf="playlist.owner"
            (click)="onAddTrack()"
            class="flex-item"
            md-tooltip="Add tracks to this playlist">
      <md-icon>playlist_add</md-icon>
    </button>
  </div>

  <md-table #table
            *ngIf="tracks.tracks.length > 0"
            [dataSource]="dataSource">
    <ng-container mdColumnDef="title">
      <md-header-cell *mdHeaderCellDef> Title</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.title}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="performer">
      <md-header-cell *mdHeaderCellDef> Performer</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.performer}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="duration">
      <md-header-cell *mdHeaderCellDef fxFlex="70px"> Duration</md-header-cell>
      <md-cell *mdCellDef="let track" fxFlex="70px"> {{track.duration | minutes}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="album">
      <md-header-cell *mdHeaderCellDef> Album</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.album}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="playcount">
      <md-header-cell *mdHeaderCellDef fxFlex="70px"> Play count</md-header-cell>
      <md-cell *mdCellDef="let track" fxFlex="70px"> {{track.playcount}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="publicationDate">
      <md-header-cell *mdHeaderCellDef> Publication date</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.publicationDate}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="description">
      <md-header-cell *mdHeaderCellDef> Description</md-header-cell>
      <md-cell *mdCellDef="let track"> {{track.description}}</md-cell>
    </ng-container>

    <ng-container mdColumnDef="offlineAvailable">
      <md-header-cell *mdHeaderCellDef fxFlex="50px"> Offline</md-header-cell>
      <md-cell *mdCellDef="let track" fxFlex="50px">
        <md-icon *ngIf="track.offlineAvailable">done</md-icon>
      </md-cell>
    </ng-container>

    <ng-container mdColumnDef="delete">
      <md-header-cell *mdHeaderCellDef fxFlex="40px"></md-header-cell>
      <md-cell *mdCellDef="let track" fxFlex="40px">
        <button md-icon-button
          [disabled]="!playlist.owner"
          class="deleteButton"
          (click)="onRemoveTrack(track)"
          md-tooltip="Remove track from list">
          <md-icon>delete</md-icon>
        </button>
      </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

  <div class='mat-body' *ngIf="tracks.tracks.length == 0">
    This playlist is still empty. <span *ngIf="playlist.owner">Use the button on the top-right to add tracks.</span>
  </div>
</div>
