.details {
  padding: 24px;

  .header {

    margin-bottom: 16px;

    .playlistHeader {
      margin: 0;
    }
  }

  table {
    width: 100%;
    tr {
      th {
        text-align: start;
      }
      td {
        .deleteButton {
          min-width: inherit;
          padding: 0 4px;
        }
      }
    }
  }
}

