.title {
  flex: 1 1 auto;
}

.label {
  color: #ff4081;
  font-size: xx-small;
  line-height: 12px;
}

.value {
  font-size: small;
  line-height: 14px;
}

.logoutButton {
  margin-left: 10px;
}

.content {
  height: calc(100% - 64px);
}
