<md-toolbar color="primary">
  <span class="title">
      <md-icon>queue_music</md-icon> Spotitube
  </span>
  <div class="flex-container"
       fxLayout="row">
    <div class="flex-container flex-item"
         fxLayout="column">
      <div *ngIf="user"
           class="label flex-item">
        User
      </div>
      <div class="value flex-item"
           *ngIf="user">
        {{user}}
      </div>
      <div *ngIf="serverUrl"
           class="label flex-item">
        Server url
      </div>
      <div class="value flex-item"
           *ngIf="serverUrl">
        {{serverUrl}}
      </div>

    </div>
    <button *ngIf="serverUrl || user"
            class="logoutButton flex-item"
            fxFlexAlign="center"
            md-mini-fab
            md-tooltip="Logout"
            (click)="logout()">
      <md-icon>delete_forever</md-icon>
    </button>
  </div>

</md-toolbar>

<app-playlists-overview
  class="content"
  *ngIf="user && serverUrl">
</app-playlists-overview>
<div *ngIf="!user || !serverUrl"
     class="content flex-container"
     fxLayout="row"
     fxLayoutAlign="center">
  <app-login
    class="flex-item"
    fxFlexAlign="center">
  </app-login>
</div>



