<mat-card>
  <mat-card-title>
    Welcome to Spotitube
  </mat-card-title>
  <mat-card-content class="flex-container"
                   fxLayout="column">
    <mat-form-field class="flex-item">
      <input id="urlInput"
             matInput
             placeholder="Server URL"
             [(ngModel)]="serverUrl"
             pattern="http://[a-zA-Z0-9:/.\-]+"
             required>
      <mat-error>Please provide a server url, including the substring http://</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-item">
      <input matInput
             placeholder="User"
             [(ngModel)]="user"
             required>
      <mat-error>Please provide an user</mat-error>
    </mat-form-field>

    <mat-form-field class="flex-item">
      <input type="password" matInput placeholder="Password" [(ngModel)]="password" required>
      <mat-error>Please provide a password</mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button [disabled]="!user || user.trim() === '' || !serverUrl || serverUrl.trim() === ''"
            (click)="login()"> Login
    </button>
  </mat-card-actions>
</mat-card>
