<h1 mat-dialog-title>
  Create Playlist
</h1>

<mat-dialog-content>
  <mat-input-container>
    <input matInput
           placeholder="Name"
           required
           [(ngModel)]="name">
    <mat-error>Please provide a name for the playlist</mat-error>
  </mat-input-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" [disabled]="!name || name.trim() === ''" (click)="onOk()"> Ok</button>
  <button mat-button color="primary" mat-dialog-close> Cancel</button>
</mat-dialog-actions>
